---
title: 'About | Julie Tiseo Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Julie</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/JT-landing.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/JT-landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/JT-landing.jpg" alt="kitchen" loading="eager" width="2391" height="1344">
        </picture>
    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/julietiseo.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/julietiseo.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/julietiseo.jpg" alt="room" width="3648" height="5472">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Hi! I'm Julie Tiseo.</h2>
            <p class="cs-text">
                For as long as I can remember, I’ve been dreaming up and designing interiors. Growing up in the residential development business gave me an early start in creating and building. I honed my skills at the New York School of Interior Design, where I earned a Master’s Degree in Fine Arts in Interior Design.
            </p>
            <p class="cs-text">
                I’ve had the pleasure of designing and managing interior projects across the country, from large restaurants to cozy apartments. But my true passion is transforming existing homes into stylish, comfortable spaces that reflect your unique style. I believe your home should be a true expression of you, a place where you feel proud and relaxed in your own private world.
            </p>
            <p class="cs-text">
                I currently reside in Hoboken, New Jersey, with my husband Rob, our son Albie, daughter Rhea, and our dog Patrick.
            </p>
            <a href="" class="cs-button-solid">View My Work</a>
        </div>
    </div>
</section>

{% endblock %}