---
title: 'Covington Circle | Julie Tiseo Design'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-six/'
eleventyNavigation:
    key: Project Six
    order: 3600
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Covington Circle</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg" alt="Covington Circle" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Row 1 -->
            <div class="cs-row cs-row-1">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom.jpg" alt="Covington Bathroom" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom2.jpg" alt="Covington Bathroom 2" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom3.jpg" alt="Covington Bathroom 3" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg" alt="Covington Bathroom 1" loading="lazy" width="400" height="560">
                </picture>
            </div>
        </div>
    </div>
    </section>    

{% endblock %}