---
title: 'Tribeca | Julie Tiseo Design'
description: 'Luxury meets artistry in Tribeca by Julie Tiseo Design. Discover spaces designed to elevate New York City living.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-five/'
eleventyNavigation:
    key: Project Five
    order: 3500
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Tribeca</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaDecor.jpg" alt="Tribeca Decor" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Row 1 -->
            <div class="cs-row cs-row-1">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaBathroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaBathroom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaBathroom.jpg" alt="Tribeca Bathroom" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaBathroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaBathroom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaBathroom1.jpg" alt="Tribeca Bathroom 1" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaDecor.jpg" alt="Tribeca Decor" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaLivingRoom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaLivingRoom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaLivingRoom.jpg" alt="Tribeca Living Room" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaDecor1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaDecor1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/Tribeca/TribecaDecor1.jpg" alt="Tribeca Decor 1" loading="lazy" width="400" height="560">
                </picture>
            </div>
        </div>
    </div>
    </section>

{% endblock %}