---
title: 'The Shore | Julie Tiseo Design'
description: 'Experience coastal elegance with The Shore by Julie Tiseo Design. See how we create timeless interiors inspired by beachside living.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">The Shore</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom.jpg" alt="Shore Bathroom" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
    
    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1 -->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom.jpg" alt="Shore Bathroom" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom.jpg" alt="Shore Bedroom" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom1.jpg" alt="Shore Bedroom 1" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture4">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDining.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDining.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDining.jpg" alt="Shore Dining" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture5">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDining1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDining1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDining1.jpg" alt="Shore Dining 1" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture6">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDoubleBath.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDoubleBath.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDoubleBath.jpg" alt="Shore Double Bath" loading="lazy" width="400" height="560">
                    </picture>
                </div>
    
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreEntrance.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreEntrance.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreEntrance.jpg" alt="Shore Entrance" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreEntrance1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreEntrance1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreEntrance1.jpg" alt="Shore Entrance 1" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreIsland.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreIsland.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreIsland.jpg" alt="Shore Island" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture4">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreKids.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreKids.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreKids.jpg" alt="Shore Kids" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture5">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreKitchen.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreKitchen.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreKitchen.jpg" alt="Shore Kitchen" loading="lazy" width="400" height="560">
                    </picture>
                </div>
    
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreLaundry.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreLaundry.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreLaundry.jpg" alt="Shore Laundry" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreLaundry1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreLaundry1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreLaundry1.jpg" alt="Shore Laundry 1" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreLiving.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreLiving.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreLiving.jpg" alt="Shore Living" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture4">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreOffice.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreOffice.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreOffice.jpg" alt="Shore Office" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture5">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreShower.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreShower.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreShower.jpg" alt="Shore Shower" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture6">
                        <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreKitchen1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreKitchen1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreKitchen1.jpg" alt="Shore Kitchen 1" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
        </div>
    </section>

{% endblock %}