---
title: 'Southampton | Julie Tiseo Design'
description: 'Classic elegance reimagined in Southampton by Julie Tiseo Design. Beautiful, serene interiors for a perfect retreat.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-eight/'
eleventyNavigation:
    key: Project Eight
    order: 3800
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Southampton</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonDining.jpg" alt="South Hampton Dining" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Row 1 -->
            <div class="cs-row cs-row-1">
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonBathroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonBathroom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonBathroom.jpg" alt="Southampton Bathroom" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonBathroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonBathroom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonBathroom1.jpg" alt="Southampton Bathroom 1" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonBathroom2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonBathroom2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonBathroom2.jpg" alt="Southampton Bathroom 2" loading="lazy" width="400" height="560">
                </picture>
            </div>
    
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonDining.jpg" alt="Southampton Dining" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonKitchen.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonKitchen.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/South Hampton/SouthamptonKitchen.jpg" alt="Southampton Kitchen" loading="lazy" width="400" height="560">
                </picture>
            </div>
        </div>
    </div>
    </section>
    
{% endblock %}