---
title: 'The Shore | Julie Tiseo Design'
description: 'Experience coastal elegance with The Shore by Julie Tiseo Design. See how we create timeless interiors inspired by beachside living.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">The Shore</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom.jpg" alt="Shore Bathroom" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Row 1-->
            <div class="cs-row cs-row-1">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreHallway.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreHallway.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreHallway.jpg" alt="Shore Hallway" loading="lazy" width="400" height="560">
                </picture> 
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom.jpg" alt="Shore Bathroom" loading="lazy" width="400" height="560">
                </picture>                              
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBalcony.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBalcony.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBalcony.jpg" alt="Shore Balcony" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom1.jpg" alt="Shore Bathroom 1" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom2.jpg" alt="Shore Bedroom 1" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom3.jpg" alt="Shore Bedroom 3" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom4.jpg" alt="Shore Bedroom" loading="lazy" width="400" height="560">
                </picture>                
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom3.jpg" alt="Shore Bathroom 3" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom2.jpg" alt="Shore Bathroom 2" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom4.jpg" alt="Shore Bathroom 4" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreLivingRoom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreLivingRoom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreLivingRoom.jpg" alt="Shore Living Room" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom5jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBathroom5.jpg" alt="Shore Bathroom 4" loading="lazy" width="400" height="560">
                </picture>  
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom.jpg" alt="Shore Bedroom" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBedroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBedroom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreBedroom1.jpg" alt="Shore Bedroom 1" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDiningRoom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDiningRoom1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDiningRoom1.jpg" alt="Shore Dining Room 1" loading="lazy" width="400" height="560">
                </picture> 
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDiningRoom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDiningRoom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDiningRoom.jpg" alt="Shore Dining Room 1" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreDecor.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreDecor.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreDecor.jpg" alt="Shore Decor" loading="lazy" width="400" height="560">
                </picture>             
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreKidRoom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreKidRoom.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TheShore/ShoreKidRoom.jpg" alt="Shore Kid Room" loading="lazy" width="400" height="560">
                </picture>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}