---
title: 'Projects | Julie Tiseo Designs'
description: 'Explore Julie Tiseo Design’s portfolio of stunning interiors, from cozy homes to chic city apartments. Get inspired by our unique designs.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}   

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-377">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Julie Tiseo Design</span>
            <h2 class="cs-title">Our Projects</h2>
        </div>
        <div class="cs-gallery">
            <a class="cs-item" href="/project-one">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">The Shore</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TheShore/ShoreBathroom.jpg">
                    <img  decoding="async" src="/assets/images/TheShore/ShoreBathroom.jpg" alt="The Shore" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-two">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Mile Square</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Mile Square/MileSquareKitchen1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Mile Square/MileSquareKitchen1.jpg">
                    <img decoding="async" src="/assets/images/Mile Square/MileSquareKitchen1.jpg" alt="Mile Square" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-three">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Hoboken</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Hoboken/HobokenKitchen1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Hoboken/HobokenKitchen1.jpg">
                    <img decoding="async" src="/assets/images/Hoboken/HobokenKitchen1.jpg" alt="Hoboken" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-four">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Triple Splash</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Triple Splash/TripleSplashBathroom3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Triple Splash/TripleSplashBathroom3.jpg">
                    <img decoding="async" src="/assets/images/Triple Splash/TripleSplashBathroom3.jpg" alt="Triple Splash" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-five">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Tribeca</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Tribeca/TribecaDecor.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Tribeca/TribecaDecor.jpg" alt="Tribeca" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-six">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Covington Circle</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/CovingtonCircle/CovingtonBathroom1.jpg" alt="Covington Circle" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-seven">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Grymes Hill</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Grymes Hill/GrymesHillLivingRoom.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Grymes Hill/GrymesHillLivingRoom.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Grymes Hill/GrymesHillLivingRoom.jpg" alt="Grymes Hill" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/project-eight">
                <div class="cs-hover-box">
                    <h3 class="cs-h3">South Hampton</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/South Hampton/SouthamptonDining.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/South Hampton/SouthamptonDining.jpg" alt="South Hampton" width="305" height="400">
                </picture>
            </a>
        </div>
    </div>
</section>

{% endblock %}                     