/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-561 {
    padding: var(--sectionPadding);
    background-color: #fff;
    padding-bottom: 0;
  }
  #quote-561 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #quote-561 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #quote-561 .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--headerColor);
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }
  #quote-561 .cs-topper:before {
    /* yellow line */
    content: "";
    width: 3.125rem;
    height: 2px;
    background: var(--secondary);
    opacity: 1;
    display: block;
  }
  #quote-561 .cs-quote {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    color: var(--headerColor);
  }
  #quote-561 .cs-name {
    /* 16px - 20px */
    text-align: center;
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #quote-561 {
    background-color: var(--medium);
  }
  body.dark-mode #quote-561 .cs-quote,
  body.dark-mode #quote-561 .cs-topper {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1015 {
    /* prevents the overflowing cs-picture at large desktop from causing overflow issues */
    overflow: hidden;
  }
  #sbs-1015 .cs-container {
    width: 100%;
    max-width: 80rem;
    /* 16px - 20px */
    margin: 0 auto clamp(1rem, 1.5vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
    position: relative;
  }
  #sbs-1015 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.125rem;
    /* moved section padding to the content area */
    padding: var(--sectionPadding);
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1015 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
    text-transform: uppercase;
  }
  #sbs-1015 .cs-text {
    margin: 0 0 2rem;
  }
  #sbs-1015 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1015 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1015 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1015 .cs-picture {
    width: 100%;
    height: 30rem;
    display: block;
    position: relative;
  }
  #sbs-1015 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1015 .cs-image-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #sbs-1015 .cs-image {
    width: 100%;
    /* 170px - 284px */
    height: clamp(10.625rem, 32vw, 17.75rem);
    display: block;
    grid-column: span 6;
    position: relative;
  }
  #sbs-1015 .cs-image:nth-of-type(3), #sbs-1015 .cs-image:nth-of-type(4), #sbs-1015 .cs-image:nth-of-type(5) {
    display: none;
  }
  #sbs-1015 .cs-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1015 .cs-container {
    /* moved section padding to the container */
    padding: var(--sectionPadding);
    padding-bottom: 1;
    /* remove padding-right so the image touches the right screen edge */
    padding-right: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-1015 .cs-content {
    text-align: left;
    padding: 0;
    align-items: flex-start;
  }
  #sbs-1015 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
  }
  #sbs-1015 .cs-image {
    grid-column: span 4;
  }
  #sbs-1015 .cs-image:nth-of-type(3) {
    display: block;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbs-1015 {
    /* moved section padding to the section but removed all padding except the padding top.  We're moving the padding top from the container to the section container so we can place the cs-picture easier inside the cs-container. If the Stitch below this Stitch is on a white background, add padding-bottom:0; to this one so there's not a huge gap between the sections. */
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1;
  }
  #sbs-1015 .cs-container {
    padding-top: 0;
  }
  #sbs-1015 .cs-content {
    padding: 3.25rem 0;
  }
  #sbs-1015 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
  }
  #sbs-1015 .cs-picture {
    width: 50vw;
    height: 100%;
    margin: 0 0 0 0.625rem;
    /* absolutely positioned so it can rest on the right edge of the screen, and its height will respond the the changing height of the cs-content when you add or subtract content */
    position: absolute;
    left: 50%;
    top: 0;
  }
  #sbs-1015 .cs-image-group {
    grid-template-columns: repeat(5, 1fr);
  }
  #sbs-1015 .cs-image {
    grid-column: span 1;
  }
  #sbs-1015 .cs-image:nth-of-type(4), #sbs-1015 .cs-image:nth-of-type(5) {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1015 .cs-title,
  body.dark-mode #sbs-1015 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1015 .cs-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1017 {
    /* prevents the overflowing cs-picture at large desktop from causing overflow issues */
    overflow: hidden;
  }
  #sbsr-1017 .cs-container {
    width: 100%;
    max-width: 80rem;
    /* 16px - 20px */
    margin: 0 auto clamp(1rem, 1.5vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
    position: relative;
  }
  #sbsr-1017 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left; /* Change from center to left */
    width: 100%;
    max-width: 33.125rem;
    /* moved section padding to the content area */
    padding: var(--sectionPadding);
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start; /* Change from center to flex-start */
  }
  #sbsr-1017 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
    text-transform: uppercase;
  }
  #sbsr-1017 .cs-text {
    margin: 0 0 2rem;
  }
  #sbsr-1017 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-1017 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-1017 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1017 .cs-picture {
    width: 100%;
    height: 30rem;
    display: block;
    position: relative;
  }
  #sbsr-1017 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1017 .cs-image-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #sbsr-1017 .cs-image {
    width: 100%;
    /* 170px - 284px */
    height: clamp(10.625rem, 32vw, 17.75rem);
    display: block;
    grid-column: span 6;
    position: relative;
  }
  #sbsr-1017 .cs-image:nth-of-type(3), #sbsr-1017 .cs-image:nth-of-type(4), #sbsr-1017 .cs-image:nth-of-type(5) {
    display: none;
  }
  #sbsr-1017 .cs-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1017 .cs-container {
    /* moved section padding to the container */
    padding: var(--sectionPadding);
    padding-bottom: 0;
    /* remove padding-left so the image touches the right screen edge */
    padding-left: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbsr-1017 .cs-content {
    text-align: left;
    padding: 0;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1017 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
  }
  #sbsr-1017 .cs-image {
    grid-column: span 4;
  }
  #sbsr-1017 .cs-image:nth-of-type(3) {
    display: block;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbsr-1017 {
    /* moved section padding to the section but removed all padding except the padding top.  We're moving the padding top from the container to the section container so we can place the cs-picture easier inside the cs-container. If the Stitch below this Stitch is on a white background, add padding-bottom:0; to this one so there's not a huge gap between the sections. */
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  #sbsr-1017 .cs-container {
    padding-top: 0;
  }
  #sbsr-1017 .cs-content {
    /* pushes it to the right */
    margin-left: auto;
    padding: 3.25rem 0;
  }
  #sbsr-1017 .cs-title {
    text-align: left; /* Ensure title is left-aligned */
    width: 100%;
    margin-left: 0; /* Ensure there's no margin pushing it to center */
  }
  #sbsr-1017 .cs-picture {
    width: 50vw;
    height: 100%;
    margin: 0 0.625rem 0 0;
    /* absolutely positioned so it can rest on the right edge of the screen, and its height will respond the the changing height of the cs-content when you add or subtract content */
    position: absolute;
    right: 50%;
    top: 0;
  }
  #sbsr-1017 .cs-image-group {
    grid-template-columns: repeat(5, 1fr);
  }
  #sbsr-1017 .cs-image {
    grid-column: span 1;
  }
  #sbsr-1017 .cs-image:nth-of-type(4), #sbsr-1017 .cs-image:nth-of-type(5) {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1017 .cs-title,
  body.dark-mode #sbsr-1017 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1017 .cs-text {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=local.css.map */
