/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-377 {
    padding: 10rem;
  }
  #gallery-377 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-377 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-377 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #gallery-377 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
    text-transform: uppercase;
  }
  #gallery-377 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #gallery-377 .cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #gallery-377 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 21.875rem;
    position: relative;
  }
  #gallery-377 .cs-image {
    width: 100%;
    /* clips the image corners */
    overflow: hidden;
    aspect-ratio: 1.0933333333;
    display: block;
    position: relative;
  }
  #gallery-377 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #gallery-377 .cs-hover-box {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.12);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;
  }
  #gallery-377 .cs-icon {
    /* 40px - 72px */
    width: clamp(2.5rem, 9.4vw, 4.5rem);
    height: clamp(2.5rem, 9.4vw, 4.5rem);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* pushes to the right */
    order: 1;
  }
  #gallery-377 .cs-icon img {
    /* 16px - 24px */
    width: clamp(1rem, 3vw, 1.5rem);
    height: auto;
  }
  #gallery-377 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-377 .cs-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #gallery-377 .cs-item {
    width: 48.5%;
  }
  #gallery-377 .cs-item:hover .cs-hover-box {
    opacity: 1;
  }
  #gallery-377 .cs-item:hover .cs-icon, #gallery-377 .cs-item:hover .cs-h3 {
    transform: translateY(0);
    opacity: 1;
  }
  #gallery-377 .cs-hover-box {
    height: auto;
    opacity: 0;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    flex-direction: column;
    justify-content: center;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    transition: opacity 0.6s;
  }
  #gallery-377 .cs-icon {
    opacity: 0;
    /* reset the order */
    order: initial;
    /* send it 10px up to animate from on hover */
    transform: translateY(-0.625rem);
    transition: transform 0.6s, opacity 0.6s;
  }
  #gallery-377 .cs-h3 {
    opacity: 0;
    /* send it 10px down to animate from on hover */
    transform: translateY(0.625rem);
    transition: transform 0.6s, opacity 0.6s;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-377 .cs-item {
    width: 23.7%;
  }
  #gallery-377 .cs-image {
    /* 300px - 400px */
    height: clamp(18.75rem, 30vw, 25rem);
    aspect-ratio: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-377 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #gallery-377 .cs-title, body.dark-mode #gallery-377 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #gallery-377 .cs-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
  }
  #gallery .cs-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
  }
  #gallery .cs-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}

/*# sourceMappingURL=projects.css.map */
